.fl__options {
  padding-top: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: var(--background-lite-color);
}

.fl__title {
  font-size: 33px;
  font-weight: 700;
  font-family: var(--title-font-family);
  margin-top: 25px;
}

.fl__subtitle {
  font-size: 18px;
  font-weight: 400;
  margin-top: 25 px;
  max-width: 715px;
}
