.fl__options {
  padding-top: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: var(--background-lite-color);
}

.fl__title {
  font-size: 33px;
  font-weight: 700;
  font-family: var(--title-font-family);
  margin-top: 25px;
}

.fl__subtitle {
  font-size: 18px;
  font-weight: 400;
  margin: 25px auto;
  max-width: 715px;
}

.fl__gallery {
  display: grid;
  grid-template-rows: repeat(4, auto);
 
}

@media (min-width: 768px) {
  .fl__gallery {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: auto;
  }
}

.gallery__block {
  max-width: 600px;
  padding: 0 15px;
  margin: 0 auto;
}

.fl__gallery img {
  object-fit: cover;
  width: 100%;
}

