/* HEADER */

.header {
  min-height: 1000px;
  max-height: 1250px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/header-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--lite-text-color);
  background-color: var(--burger-background-color);
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
}



.logo {
  width: 159px;
  background-image: url(../img/fooring-ico.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.logo img {
  width: 100%;
  object-fit: cover;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 670px;
  margin: 60px auto;
}

/* NEVIGATION */

.navigation {
  display: flex;
  width: 700px;
  padding: 0 40px;
  margin-top: 22px;
}

.navigation ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.link__item {
  font-size: 16px;
  font-weight: 700;
  color: var(--lite-text-color);
}

.nav--footer {
  margin-top: 0;
}

/* BURGER */

.open {
  display: flex !important;
}

.burger {
  position: relative;
  display: none;
  z-index: 1;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 18px;
  cursor: pointer;
}

.burger span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: var(--lite-text-color);
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--lite-text-color);
  transition: all 0.3s ease 0s;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

@media (max-width: 900px) {
  .burger {
    display: flex;
  }

  .navigation {
    display: none;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: auto;
    padding: 50px 40px;
    animation: burgerAnimation 0.4s;
  }

  .navigation ul {
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
  }
}

/* CONTENT */

.content__title {
  font-size: 70px;
  font-weight: 700;
  font-family: var(--title-font-family);
  margin-top: 20px;
}

.content__subtitle {
  font-size: 18px;
  font-weight: 600;
  margin-top: 35px;
}

.button a {
  font-size: 16.5px;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: var(--mokko-text-color);
  transition: background-color 0.3s, color 0.3s;
  
  padding: 17px 27px;
  margin-top: 100px;
}

.button a:hover {
  background-color: var(--lite-text-color);
  color: var(--dark-text-color);
}

