/* HEADER */

.header {
  min-height: 1000px;
  max-height: 1250px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/header-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--lite-text-color);
}

.header__top {
  padding: 30px 15px;

}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 670px;
  margin: 55px auto;
}

/* NEVIGATION */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav--footer {
  padding: 60px 0 30px;
}

.nav__logo-img {
  object-fit: cover;
  max-width: 140px;
  margin-top: -20px;
}

.nav__list{
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
}

.nav__list {
  color: var(--lite-text-color);
}

.nav__list a:hover{
  color: var(--mokko-text-color);
}

.logo__name {
  margin: 0 auto;
}

.logo__act {
  margin: 0 auto;
}

.nav__list li {
  list-style: none;
}

.nav__list-items {
  display: flex;
  column-gap: 7.5px;
}

.nav__list-item {
  font-size: 16px;
  font-weight: 700;
}

.nav__button-grade {
  display: inline-block;
  padding: 10px 20px;
  margin-top: -10px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: var(--lite-text-color);
  background-color: transparent;
  border: 2px solid var(--lite-text-color);
  transition: background-color 0.3s, color 0.3s; 
}

.nav__button-grade:hover {
  color: var(--hover-button-nav-color);
  border: 2px solid var(--hover-button-nav-color);
}

/* CONTENT */

.content__title {
  font-size: 70px;
  font-weight: 700;
  font-family: var(--title-font-family);
  margin-top: 20px;
}

.content__subtitle {
  font-size: 18px;
  font-weight: 600;
  margin-top: 35px;
}

.button a {
  font-size: 16.5px;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: var(--mokko-text-color);
  transition: background-color 0.3s, color 0.3s;
  
  padding: 17px 27px;
  margin-top: 100px;
}

.button a:hover {
  background-color: var(--lite-text-color);
  color: var(--dark-text-color);
}

