.intro {
  padding: 65px 0 90px;
  display: flex;
  flex-direction: column;
  padding-top: 65px;
}

.intro__up {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  align-items: center;
}

.intro__title {
  margin: 20px;
  font-size: 33px;
  font-weight: 700;
  font-family: var(--title-font-family);
  color: var(--general-text-color);
}

.intro__description {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.intro__down {
  display: flex;
  margin-top: 50px;
}

@media (max-width: 767px) {
  .intro__down {
    flex-direction: column;
  }
}

.intro__down-img {
  max-width: 100%;
  padding: 0 15px;
  flex: 1;
}

.intro__down-img img {
  min-width: 300px;
  max-width: 600px;
  width: 100%;
  height: auto;
}

.intro__down-description {
  min-width: 288px;
  padding: 0 15px;
  flex: 1;
}

.description-box {
  padding: 7.5px 0;
  margin: 7.5px;
}

.intro__box-number {
  font-size: 22px;
  font-weight: bold;
  text-align: left;
}

.intro__box-number span {
  color: var(--mokko-text-color);
}

