.services {
  padding-bottom: 60px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--background-lite-color);
}

.services__title {
  font-size: 33px;
  font-weight: 700;
  font-family: var(--title-font-family);
  margin-top: 20px;
}

.services__items {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 15px 10px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .services__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .services__items {
    grid-template-columns: repeat(3, 1fr);
  }
}

.services__item {
  padding: 15px 10px;
}

.services__item img {
  width: 100%;
  object-fit: cover;
}

.item-name-text {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 600;
}

.item-price-text {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
}

.item-price-text span {
  color: var(--mokko-text-color);
  font-weight: bold;
}
