.services {
  padding-bottom: 60px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--background-lite-color);
}

.services__title {
  font-size: 33px;
  font-weight: 700;
  font-family: var(--title-font-family);
  margin-top: 20px;
}

.services__items {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px 10px;
}

.services__item {
  padding: 15px 10px;
}

.services__item img {
  width: 353px;
  height: 370px;
  object-fit: cover;
}

/* .services__item h3, p {
  text-align: center;
} */

.item-name-text {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 600;
}

.item-price-text {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
}

.item-price-text span {
  color: var(--mokko-text-color);
  font-weight: bold;
}
