.wood__species {
  padding-top: 65px;
  padding-bottom: 60px;

}

.wood__species h2{
  text-align: center;
}

.species__title {
  font-size: 33px;
  font-weight: 700;
  font-family: var(--title-font-family);
  margin-top: 20px;
}

.wood__items {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.wood__item {
  position: relative;
  margin-right: 20px;
}

.wood__item img {
  width: 100%;
  height: 120%;

  display: block;
}

.wood__caption {
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  text-align: center;
  color: var(--lite-text-color);
  padding: 10px;
  margin: 0;
}

.wood__brich {
  filter: hue-rotate(0deg) saturate(4%) brightness(117%);
}

.wood__oak {
  filter: hue-rotate(17deg) saturate(38%) brightness(130%);
}

.wood__walnut {
  filter: hue-rotate(1deg) saturate(93%) brightness(118%);
}

.wood__cherry {
  filter: hue-rotate(0deg) saturate(137%) brightness(69%);
}